<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--where the pictures save to, default value is "D:\My\今日美图"--> 
    <add key="PictureSaveFolder" value="D:\My\今日美图"/>
    <!--how long the show dialog to close, seconds, defalut value is 2 seconds-->
    <add key="HowLongToClose" value="2"/>
  </appSettings>
</configuration>